@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

body {
	font-family: 'Nunito' ,  sans-serif;
	background:	#EFF1FF;
}

.content {
	grid-area: content;
	background: url(../images/textur.jpg);
}

.sidebar {
	grid-area: sidebar;
	background: linear-gradient(to right, rgba(249,107,142,1),
		rgba(218,103,230,1),
		rgba(130,125,253,1));
	justify-content: center;
}

.footer {
	grid-area: footer;
	background: white;
}

.container {
	font-size: 1.5em;
	width: 100%;
	height: 50%;
	display: grid;
	grid-template-areas: 
		"sidebar"
		"content"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 130px 800px 250px;
}

.content,
.sidebar,
.footer {
	padding: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

nav li {
	list-style: none;
	padding: 1em 0;
}

nav li a{
	color: white;
	font-weight: 700;
	opacity: 0.5;
	text-decoration: none;
	transition: 0.3s;
}

nav li a:hover{
	opacity: 1;
}

.hero {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.hero img {
	width: 200px;
	border-radius: 15%;
}

.hero h1 {
	font-size: 2em;
	font-weight: 300;
	color: #373d46;
}

.hero p {
	font-weight: 300;
	line-height: 1.8em;
	color: #98a0ad;
}

.action-btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 700px;
	background: #867bfb;
	padding: 0.5em 2em;
	border-radius: 40px;
	margin: 1em 0;
	transition: 0.3s;
}

.action-btn:hover {
	box-shadow: 0 10px 50px rgba(188,197,216,1);
}

footer ul {
	max-width: 400px;
	margin: 3em auto;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
}

footer ul li {
	list-style: none;
	align-self: flex-end;
	text-align: center;
}

footer ul li a {
	text-decoration: none;
	color: #c1c6ce;
}

footer p {
	font-size: 0.8em;
}

@media (min-width: 1000px) {
	.container	{
		grid-template-areas: 
			"sidebar content"
			"sidebar footer";
		grid-template-columns: 300px 1fr;
		grid-template-rows: 1fr auto;
	}

	nav ul {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}

	.sidebar {
		background: linear-gradient(
			rgba(249,107,142,1)
			rgba(218,103,230,1)
			rgba(130,125,254,1));
		padding-top: 3em;
	}

	.hero {
		text-align: left;
		margin: 2em auto;
	}

	.hero img {
		width: 250px;
		float: right;
	}

	.hero h1 {
		font-size: 3em;
	}

	.hero p {
		width: 60%;
	}

	footer ul {
		max-width: 960px;
		margin: 0 auto;
		padding: 2em 0 ;

	}
}